:root {
  --control-width: 100px;
  --default-spacing: 5px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
}

header, nav {
  background-color: aliceblue;
  padding: var(--default-spacing);
}

section {
  padding: var(--default-spacing);
}

#detail {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--default-spacing);
  row-gap: var(--default-spacing);
}

#detail label {
  align-self: center;
  justify-self: end;
}
