:root {
  --control-width: 100px;
  --default-spacing: 5px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
}

header, nav {
  background-color: aliceblue;
}
