:root {
  --control-width: 100px;
  --default-spacing: 5px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}

main {
  display: grid;
  grid-template-rows: 200px 1fr;
}

@media (min-width: 600px) {
  main {
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
  }
}

app-master-detail, app-detail, app-list {
  display: contents;
}

nav {
  overflow: auto;
}

header,
nav {
  background-color: aliceblue;
  padding: var(--default-spacing);
}

section,
article {
  padding: var(--default-spacing);
}

app-detail form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--default-spacing);
  row-gap: var(--default-spacing);
}

app-detail form label {
  align-self: center;
  justify-self: end;
}

input:invalid {
  outline: 1px dotted red;
  background-color: mistyrose;
}

nav a {
  display: block;
}

.removed {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    height: auto;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}
